<table class="demandApproveTable">
<thead>
    <tr>
        <th class="custom-srno">Sr. No.</th>
        <th class="custom-particulatr">Particular</th>
        <th class="custom-amount">Amount Head <span class="required"></span></th>
        <th class="custom-amount">Amount (in ₹)<span class="required"></span></th>
       
    </tr>
</thead>
<tbody>
    <tr>
        <td>1.</td>
        <td class="custom-particular-td">&nbsp; Supervision Charges on Cost of Material (Excluding
            Service Tax Amount)</td>
        <td class="custom-td">&nbsp;
           
            62.925
        </td>
        <td>
           
        </td>
      
    </tr>
    <tr>
        <td>&nbsp;2.</td>
        <td class="custom-particular-td">&nbsp;CGST-9%</td>
        <td class="custom-td">&nbsp;
           
            9983
        </td>
        <td> </td>
       
    </tr>
    <tr>
        <td>&nbsp;3.</td>
        <td class="custom-particular-td">&nbsp;SGST-9%</td>
        <td class="custom-td">&nbsp;
           
            9983
        </td>
        <td class="custom-td"> &nbsp; </td>

    </tr>
    <tr>
        <td>&nbsp;4.</td>
        <td class="custom-particular-td">&nbsp;Krishi Cess @0.5%</td>
        <td class="custom-td">&nbsp;
           
            46.947
        </td>
        <td>0.00</td>
        
    </tr>
    <tr>
        <td>&nbsp;5.</td>
        <td class="custom-particular-td">&nbsp;Education Cess (As per applicable rate)</td>
        <td class="custom-td">&nbsp;
             </td>
        <td>0.00</td>
       
    </tr>
    <tr>
        <td>&nbsp;6.</td>
        <td class="custom-particular-td">&nbsp;Secondary Higher Edu.Cess (As per applicable rate)
        </td>
        <td class="custom-td">&nbsp;
           
        </td>
        <td>0.00</td>
       
    </tr>
    <tr>
        <td>&nbsp;7.</td>
        <td class="custom-particular-td">&nbsp;System Development Charges
           
        </td>
        <td class="custom-td">&nbsp;
           
            55.160
        </td>
       
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;8.</td>
        <td class="custom-particular-td">&nbsp;Cost of Estimate for 100% Deposit Work</td>
        <td class="custom-td">&nbsp;
            
            47.320
        </td>
        <td>0.00</td>

    </tr>
    <tr>
        <td>&nbsp;9.</td>
        <td class="custom-particular-td">&nbsp;Other Infrastructure related cost</td>
        <td class="custom-td">&nbsp;
          0.00 
        </td>
        <td>0.00</td>

    </tr>
    <tr>
        <td>&nbsp;10.</td>
        <td class="custom-particular-td">&nbsp;Supply Affording Charges 
        </td>
        
           
        <td class="custom-td">&nbsp;
           
            55.150
        </td>
        <td>
            <div >
                </div>
            <div ></div>
        </td>

       
    </tr>
    <tr>
        <td colspan="2">&nbsp; <strong>Total Amount (in ₹.) </strong></td>
        <td class="custom-td">&nbsp;
            <strong>
               </strong>
        </td>
        <td></td>
       
    </tr>
</tbody>
</table>
