<!-- <html> -->

<!-- <body style="margin-top: 10px;"> -->
<!--    -->
<div class="wrapper fadeInDown" *ngIf="showForm">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <br>
            <h4 align="center">
                <mat-label>Forgot Password</mat-label>
            </h4>
        </div>
        <form class="my-form" [formGroup]="forgotPasswordForm" autocomplete="off">
            <mat-card class="my-card">
                <mat-card-content>
                    <!--FORM FIELDS HERE-->
                    <mat-form-field class="full-width">
                        <mat-icon matSuffix>phone_iphone</mat-icon>
                        <mat-label>Mobile number</mat-label>
                        <input matInput placeholder="Enter your registered mobile number" name="mobileNo" maxlength="10"
                            minlength="10" type="tel" formControlName="mobileNo">
                        <mat-error *ngIf="forgotPasswordForm.controls.mobileNo.hasError('required')">
                            Mobile number is required
                        </mat-error>
                        <mat-error *ngIf="forgotPasswordForm.controls.mobileNo.hasError('mobPattern')">
                            Please enter a valid Mobile number
                        </mat-error>
                        <mat-error *ngIf="invalidUser">
                            mobile number does not exist.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" [style.display]="enabledOTP?'inherit':'none'">
                        <mat-label>OTP</mat-label>
                        <input matInput placeholder="OTP" name="otp" formControlName="otp"
                            [disableControl]="!enabledOTP">
                        <mat-error *ngIf="forgotPasswordForm.controls.otp.hasError('required')">
                            OTP is required
                        </mat-error>
                    </mat-form-field>
                    <span class="resendOtp otp-label" *ngIf="enabledOTP">
                        <a class="underlineHover" (click)="resendOtp()">Resend OTP</a>
                    </span>
                </mat-card-content>
                <mat-card-actions>
                    <!--REGISTER BUTTON HERE-->
                    <button mat-raised-button color="primary" *ngIf="!enabledOTP" (click)="getOtp()"
                        [disabled]="!forgotPasswordForm.valid">Get OTP</button>
                    <button mat-raised-button color="primary" *ngIf="enabledOTP" (click)="verifyOtp()"
                        [disabled]="!forgotPasswordForm.valid">Verify OTP</button>
                </mat-card-actions>
            </mat-card>
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">Already have a password? <a routerLink="/consumer/login" class="underlineHover">Login</a>
        </div>

    </div>
</div>
<!-- </body> -->

<!-- </html> -->