<div align="right">
    <button class="close-btn" style="border-radius: 5em; color: black;" (click)="onClose()" tabIndex="-2">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<mat-card class="custom-scroll-enable">

    <div #componentView id="elementIdToCapture" style="padding: 2em;">
        <div align="center">
            <header class="dsp-headerblock">
                <div id="alterna-header" class="">
                    <div class="container">
                        <div class="logobox">
                            <img class="img-fluid" style=" width: 100%;" alt="MP Madhya Kshetra Vidyut Vitaran Co. Ltd."
                                src="assets/images/banner_mpmkvvcl_logo.jpg" alt="logo">
                        </div>
                        <div class="header-custom-container"></div>
                    </div>
                </div>
                <br>
                <div align="center" style="font-size: 2em; font-weight: 900;">
                    Consumer Application
                    Details
                </div>

                <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk24ZEEYK8F6E7n4zkfrkSIi-6qznVR1XiHw&usqp=CAU  src="assets/images/banner_mpmkvvcl_logo.jpg"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk24ZEEYK8F6E7n4zkfrkSIi-6qznVR1XiHw&usqp=CAU" -->
            </header>

        </div>

        <br><br>

        <!-- <table class="table table-bordered modern-ui-table">
           
            <tr class="section-header">
                <th colspan="4">Consumer Details</th>
            </tr>

            <tr>
                <th colspan="2">Applicant Name (आवेदक का नाम)</th>
                <td colspan="2">{{consumerApplicationDetail?.consumerName}}</td>
            </tr>
            <tr>
                <th colspan="2">पिता/पति का नाम</th>
                <td colspan="2">{{consumerApplicationDetail?.guardianName}}</td>
            </tr>
            <tr>
                <th colspan="2">Address (पता)</th>
                <td colspan="2">{{consumerApplicationDetail?.address}}</td>
            </tr>
            <tr>
                <th colspan="2">Contact</th>
                <td colspan="2">{{consumerApplicationDetail?.consumerphonNumber}}</td>
            </tr>

            <tr *ngIf="consumerApplicationDetail?.natureOfWorkTypeId==3">
                <th colspan="2">भवन का प्रकार</th>
                <td colspan="2">{{consumerApplicationDetail?.colonyLegalSelectionType=="1"?"Multi":"colony individual
                    House"}}</td>
            </tr>

            <tr *ngIf="consumerApplicationDetail?.natureOfWorkTypeId==4">
                <th colspan="2">अवैध कॉलोनी प्रकार</th>
                <td colspan="2">{{consumerApplicationDetail?.colonyIllegalSelectionType=="1"?"Declared":"Un-Declared"}}
                </td>
            </tr>

           
            <tr *ngIf="[1,2,3,4,5,6,7,9,10].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">आवेदक का प्रकार</th>
                <td colspan="2">{{consumerApplicationDetail?.avedakKaPrakar}}</td>
            </tr>
            <tr *ngIf="[1,2,3,4,5,6,7,9,10].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">आवेदक करने वाले विभाग/संस्था का नाम</th>
                <td colspan="2">{{consumerApplicationDetail?.avedakRemark}}</td>
            </tr>

           
            <tr class="section-header">
                <th colspan="4">Application Details</th>
            </tr>

            <tr>
                <th colspan="2">Application Number</th>
                <td colspan="2">{{consumerApplicationDetail?.consumerApplicationNo}}</td>
            </tr>
            <tr>
                <th colspan="2">Nature of Work (कार्य प्रकार)</th>
                <td colspan="2">{{consumerApplicationDetail?.natureOfWorkName}}</td>
            </tr>

            <tr *ngIf="[1,7].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">IVRSNO (उपभोक्ता संख्या)</th>
                <td colspan="2">{{consumerApplicationDetail?.ivrsNo}}</td>
            </tr>

            <tr *ngIf="[1,2,3,4,5,6,7,9,10].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">Scheme Type (योजना का प्रकार)</th>
                <td colspan="2">{{consumerApplicationDetail?.schemeTypeName}}</td>
            </tr>

            <tr *ngIf="consumerApplicationDetail?.nscApplicationNo">
                <th colspan="2">SSP Application Number</th>
                <td colspan="2">{{consumerApplicationDetail?.nscApplicationNo}}</td>
            </tr>

            <tr *ngIf="consumerApplicationDetail?.samagraId">
                <th colspan="2">Samagra Number (समग्र नंबर)</th>
                <td colspan="2">{{consumerApplicationDetail?.samagraId}}</td>
            </tr>

            <tr *ngIf="[1,6].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">Supply Voltage (सप्लाई वोल्टेज)</th>
                <td colspan="2">{{supplyVoltageString}}</td>
            </tr>

            <tr *ngIf="[2,9].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">Voltage Level</th>
                <td colspan="2">{{consumerApplicationDetail?.voltageLevel}}</td>
            </tr>

            <tr *ngIf="[2,3,4,5,7,9,10].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">Load Request (आवेदक द्वारा)</th>
                <td colspan="2">{{consumerApplicationDetail?.loadRequested}}
                    <span>{{consumerApplicationDetail?.loadRequestedName}}</span></td>
            </tr>

            <tr *ngIf="[2,3,4,5,7,9].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">Load Request (DGM द्वारा)</th>
                <td colspan="2">{{consumerApplicationDetail?.loadRequested}}
                    <span>{{consumerApplicationDetail?.loadRequestedName}}</span></td>
            </tr>

            <tr *ngIf="[2,3,4,5,9,10].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">Land Area & Unit</th>
                <td colspan="2">{{consumerApplicationDetail?.area}}
                    <span>{{consumerApplicationDetail?.landAreaUnitName}}</span></td>
            </tr>

            <tr *ngIf="[3,4,10].includes(consumerApplicationDetail?.natureOfWorkTypeId)">
                <th colspan="2">No. of Plot/flats</th>
                <td colspan="2">{{consumerApplicationDetail?.noOfPlot}}</td>
            </tr>

            <tr>
                <th colspan="2">GST Number</th>
                <td colspan="2">{{consumerApplicationDetail?.gstNumber}}</td>
            </tr>

            <tr>
                <th colspan="2">Pan Number</th>
                <td colspan="2">{{consumerApplicationDetail?.panNo}}</td>
            </tr>

            <tr
                *ngIf="consumerApplicationDetail?.natureOfWorkTypeId==2 || 
             (consumerApplicationDetail?.natureOfWorkTypeId==4 && consumerApplicationDetail?.colonyIllegalSelectionType=='2')">
                <th colspan="2">कॉलोनी आवेदक का प्रकार</th>
                <td colspan="2">{{consumerApplicationDetail?.individualOrGroupIdName}}</td>
            </tr>

            <tr>
                <th colspan="2">Work Short Description (कार्य का संक्षिप्त विवरण)</th>
                <td colspan="2">{{consumerApplicationDetail?.shortDescriptionOfWork}}</td>
            </tr>
        </table> -->


        <table class="table table-bordered modern-ui-table">


            <!-- *********************************************************** consumer details start *************************************** -->
            <tr class="table-secondary">
                <th scope="col" colspan="4">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Consumer Details</div>
                </th>
            </tr>
            <tr>
                <th colspan="2" scope="row">Applicant Name (आवेदक का नाम) </th>
                <td colspan="2">{{consumerApplicationDetail?.consumerName}}</td>

            </tr>

            <tr>
                <th colspan="2" scope="row">पिता/पति का नाम </th>
                <td colspan="2">{{consumerApplicationDetail?.guardianName}}</td>

            </tr>

            <tr>
                <th colspan="2" scope="row">Address (पता) </th>
                <td colspan="2">{{consumerApplicationDetail?.address}}</td>

            </tr>
            <tr>
                <th colspan="2" scope="row">Contact</th>
                <td colspan="2">{{consumerApplicationDetail?.consumerphonNumber}}</td>

            </tr>



            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==3)">
                <th colspan="2" scope="row">भवन का प्रकार</th>
                <td colspan="2">{{consumerApplicationDetail?.colonyLegalSelectionType=="1"?"Multi":"colony individual
                    House"}}</td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==4)">
                <th colspan="2" scope="row">अवैध कॉलोनी प्रकार</th>
                <td colspan="2">{{consumerApplicationDetail?.colonyIllegalSelectionType=="1"?"Declared":"Un-Declared"}}
                </td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==1
              || consumerApplicationDetail?.natureOfWorkTypeId==2 || 
              consumerApplicationDetail?.natureOfWorkTypeId==3 || 
              consumerApplicationDetail?.natureOfWorkTypeId==4 || 
              consumerApplicationDetail?.natureOfWorkTypeId==5 || 
              consumerApplicationDetail?.natureOfWorkTypeId==6 || 
              consumerApplicationDetail?.natureOfWorkTypeId==7 ||
              consumerApplicationDetail?.natureOfWorkTypeId==9 || 
              consumerApplicationDetail?.natureOfWorkTypeId==10)">
                <th colspan="2" scope="row">आवेदक का प्रकार</th>
                <td colspan="2">{{consumerApplicationDetail?.avedakKaPrakar}}</td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==1 
             || consumerApplicationDetail?.natureOfWorkTypeId==2 || 
             consumerApplicationDetail?.natureOfWorkTypeId==3 || 
             consumerApplicationDetail?.natureOfWorkTypeId==4 || 
             consumerApplicationDetail?.natureOfWorkTypeId==5 || 
             consumerApplicationDetail?.natureOfWorkTypeId==6 || 
             consumerApplicationDetail?.natureOfWorkTypeId==7 || 
             consumerApplicationDetail?.natureOfWorkTypeId==9 || 
             consumerApplicationDetail?.natureOfWorkTypeId==10)">
                <th colspan="2" scope="row">आवेदक करने वाले विभाग/संस्था का नाम</th>
                <td colspan="2">{{consumerApplicationDetail?.avedakRemark}}</td>

            </tr>


            <!-- ********************************************* consumer Details end ************************************************* -->

            <!-- **************************************** Application Details start *************************************************** -->
            <tr class="table-secondary">
                <th scope="col" colspan="4">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Application Details</div>
                </th>
            </tr>
            <tr>
                <th colspan="2" scope="row">Application Number</th>
                <td colspan="2">{{consumerApplicationDetail?.consumerApplicationNo}}</td>

            </tr>
            <tr>
                <th colspan="2" scope="row">Nature of Work (कार्य प्रकार)(Application type)</th>
                <td colspan="2">{{consumerApplicationDetail?.natureOfWorkName}}</td>

            </tr>
            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==1 || 
            consumerApplicationDetail?.natureOfWorkTypeId==7)">
                <th colspan="2" scope="row">IVRSNO (उपभोक्ता संख्या)</th>
                <td colspan="2">{{consumerApplicationDetail?.ivrsNo}}</td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==1 || 
            consumerApplicationDetail?.natureOfWorkTypeId==7 || 
            consumerApplicationDetail?.natureOfWorkTypeId==9 || 
            consumerApplicationDetail?.natureOfWorkTypeId==10 || 
            consumerApplicationDetail?.natureOfWorkTypeId==2 || 
            consumerApplicationDetail?.natureOfWorkTypeId==3 || 
            consumerApplicationDetail?.natureOfWorkTypeId==4 || 
            consumerApplicationDetail?.natureOfWorkTypeId==5 || 
            consumerApplicationDetail?.natureOfWorkTypeId==6)">
                <th colspan="2" scope="row">Scheme Type (योजना का प्रकार)</th>
                <td colspan="2">{{consumerApplicationDetail?.schemeTypeName}}</td>

            </tr>




            <tr *ngIf="(consumerApplicationDetail?.nscApplicationNo!=null)">
                <th colspan="2" scope="row">SSP Application Number</th>
                <td colspan="2">{{consumerApplicationDetail?.nscApplicationNo}}</td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.samagraId!=null)">
                <th colspan="2" scope="row">Samagra Number (समग्र नंबर)</th>
                <td colspan="2">{{consumerApplicationDetail?.samagraId}}</td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==1 ||
              consumerApplicationDetail?.natureOfWorkTypeId==6)">
                <th colspan="2" scope="row">Supply Voltage (सप्लाई वोल्टेज)</th>
                <td colspan="2">{{supplyVoltageString}}</td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==2 || 
             consumerApplicationDetail?.natureOfWorkTypeId==9 || consumerApplicationDetail?.natureOfWorkTypeId==7)">
                <th colspan="2" scope="row">Voltage Level </th>
                <td colspan="2">{{consumerApplicationDetail?.voltageLevel}}</td>

            </tr>

             <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==2 || 
             consumerApplicationDetail?.natureOfWorkTypeId==9 || consumerApplicationDetail?.natureOfWorkTypeId==7)">
                <th colspan="2" scope="row">Connection Type</th>
                <td colspan="2">{{consumerApplicationDetail?.connectionType}}</td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==2 ||
             consumerApplicationDetail?.natureOfWorkTypeId==7 || 
             consumerApplicationDetail?.natureOfWorkTypeId==9 || 
             consumerApplicationDetail?.natureOfWorkTypeId==10 || 
             consumerApplicationDetail?.natureOfWorkTypeId==3 || 
             consumerApplicationDetail?.natureOfWorkTypeId==4 || 
             consumerApplicationDetail?.natureOfWorkTypeId==5)">
                <th colspan="2" scope="row">Load Requested By Consumer (आवेदक द्वारा दर्ज किया गया भार)</th>
                <td colspan="2">
                    {{consumerApplicationDetail?.consumerLoadRequested}}<span>{{consumerApplicationDetail?.consumerLoadRequestedName}}
                    </span></td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==2 || 
             consumerApplicationDetail?.natureOfWorkTypeId==7 || 
             consumerApplicationDetail?.natureOfWorkTypeId==9 || 
             consumerApplicationDetail?.natureOfWorkTypeId==3 || 
             consumerApplicationDetail?.natureOfWorkTypeId==4 || 
             consumerApplicationDetail?.natureOfWorkTypeId==5)">
                <th colspan="2" scope="row">Load verified by DGM(O&M/HTM) (DGM द्वारा दर्ज किया गया भार)</th>
                <td colspan="2">
                    {{consumerApplicationDetail?.loadRequested}}<span>{{consumerApplicationDetail?.loadRequestedName}}
                    </span></td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==2 || 
            consumerApplicationDetail?.natureOfWorkTypeId==3 || 
            consumerApplicationDetail?.natureOfWorkTypeId==10 || 
            consumerApplicationDetail?.natureOfWorkTypeId==9 || 
            consumerApplicationDetail?.natureOfWorkTypeId==4 || 
            consumerApplicationDetail?.natureOfWorkTypeId==5)">
                <th colspan="2" scope="row">Land Area & Land area unit (भूमि क्षेत्रफल)</th>
                <td colspan="2"> {{consumerApplicationDetail?.area}}<span>
                        {{consumerApplicationDetail?.landAreaUnitName}}</span></td>

            </tr>

            <tr *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==3 || 
            consumerApplicationDetail?.natureOfWorkTypeId==4 || 
            consumerApplicationDetail?.natureOfWorkTypeId==10)">
                <th colspan="2" scope="row">No. of Plot/flats </th>
                <td colspan="2">{{consumerApplicationDetail?.noOfPlot}}</td>

            </tr>
            <tr>
                <th colspan="2" scope="row">GST Number</th>
                <td colspan="2">{{consumerApplicationDetail?.gstNumber}}</td>

            </tr>

            <tr>
                <th colspan="2" scope="row">PAN Number</th>
                <td colspan="2">{{consumerApplicationDetail?.panNo}}</td>

            </tr>

            <br>
            <tr
                *ngIf="(consumerApplicationDetail?.natureOfWorkTypeId==2 || 
            (consumerApplicationDetail?.natureOfWorkTypeId==4 && consumerApplicationDetail?.colonyIllegalSelectionType=='2')  )">
                <th colspan="2" scope="row">कॉलोनी आवेदक का प्रकार</th>
                <td colspan="2">{{consumerApplicationDetail?.individualOrGroupIdName}}</td>

            </tr>
            <tr>
                <th colspan="2" scope="row">Work Short Description (कार्य का संक्षिप्त विवरण)</th>
                <td colspan="2">{{consumerApplicationDetail?.shortDescriptionOfWork}}</td>

            </tr>



            <!-- *********************************************************** End Application Details ************************************************** -->

            <!-- connection-pradaai-for-ngb-details -->

            <tr class="table-secondary"
                *ngIf="consumerApplicationDetail?.natureOfWorkTypeId ==8 && consumerApplicationDetail?.applicationStatusId==33">
                <th scope="col" colspan="4">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Connection Granted Detail
                    </div>
                </th>
            </tr>



            <tr
                *ngIf="consumerApplicationDetail?.natureOfWorkTypeId ==8 && consumerApplicationDetail?.applicationStatusId==33">
                <th colspan="2" scope="row">Consumer Number (IVRS no)</th>
                <td colspan="2">{{ngbPunchingDetails?.ngbConsumerNo}}</td>

            </tr>

            <tr
                *ngIf="consumerApplicationDetail?.natureOfWorkTypeId ==8 && consumerApplicationDetail?.applicationStatusId==33">
                <th colspan="2" scope="row">DTR Name</th>
                <td colspan="2">{{ngbPunchingDetails?.dtrName}}</td>

            </tr>

            <tr
                *ngIf="consumerApplicationDetail?.natureOfWorkTypeId ==8 && consumerApplicationDetail?.applicationStatusId==33">
                <th colspan="2" scope="row">FEEDER Name</th>
                <td colspan="2">{{ngbPunchingDetails?.feederName}}</td>

            </tr>

            <!-- ///////////////////////////////////////////////                         -->



            <!-- ////////////////////////////////// complain Details  start////////////////////////////////////////// -->

            <tr class="table-secondary" *ngIf="complainList!=null || complainList!=undefined">
                <!-- <th scope="col">S.No.</th> -->
                <th scope="col" colspan="4">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Complain by Consumer
                    </div>
                </th>
            </tr>


            <tr *ngFor="let obj of complainList; let i=index;">
                <!-- <th scope="row" colspan="2">{{obj?.workIssueId}}</th> -->
                <th scope="row" colspan="2">{{i+1}}</th>

                <!-- <th colspan="1"  scope="row">Issue</th> -->
                <td colspan="2">{{obj?.feedback}}</td>
            </tr>



            <!-- ////////////////////////////////// complain Details  end////////////////////////////////////////// -->

            <!-- //////////////////////////////////////////// consumer Feedback start ////////////////////////////// -->
            <tr class="table-secondary" *ngIf="feedbackList!=null || feedbackList!=undefined">
                <!-- <th scope="col">S.No.</th> -->
                <th scope="col" colspan="4">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Feedback by Consumer
                    </div>
                </th>
            </tr>


            <tr *ngFor="let obj of feedbackList; let i=index;">
                <!-- <th scope="row" colspan="2">{{obj?.workIssueId}}</th> -->
                <th scope="row" colspan="2">{{i+1}}</th>

                <!-- <th colspan="1"  scope="row">Issue</th> -->
                <td colspan="2">{{obj?.feedback}}</td>
            </tr>

            <!-- //////////////////////////////////////////// consumer Feedback end ////////////////////////////// -->

            <tr class="table-secondary">
                <th scope="col" colspan="2">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Contractor Details</div>
                </th>
                <th scope="col" colspan="2">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Work Order Details & Work Completion
                        Details</div>
                </th>
            </tr>
            <tr>
                <th scope="row">Contractor Name (कॉन्ट्रैक्टर का नाम)</th>
                <!-- <td><b>{{paymentView?.NAME_OF_CONTRACTOR}},
                    </b>
                    [{{paymentView?.CONTRACTOR_ID}}] </td> -->
                <td><b *ngIf="paymentView?.NAME_OF_CONTRACTOR!=null">{{paymentView?.NAME_OF_CONTRACTOR}},
                    </b><b *ngIf="paymentView?.NAME_OF_CONTRACTOR==null">Contractor Not Selected </b>
                    <b *ngIf="paymentView?.CONTRACTOR_ID!=null">[{{paymentView?.CONTRACTOR_ID}}]</b>
                </td>

                <th scope="row">DGM STC APPROVAL DATE</th>
                <td>
                    <div *ngIf="consumerApplicationDetail?.dateOfDgmOandM!=null">
                        {{consumerApplicationDetail?.dateOfDgmOandM}}
                    </div>
                    <div *ngIf="consumerApplicationDetail?.dateOfDgmOandM==null">
                        Not Approved By DGM(STC)
                    </div>
                </td>

            </tr>

            <tr>
                <th scope="row">Vendor Name (कॉन्ट्रैक्टर का नाम)</th>
                <td>Madhya Pradesh
                    Madhya
                    Kshetra Vidyut
                    Vitaran Company Limited<strong>(MPMKVVCL)</strong> </td>

                <th scope="row">DGM (O&M) APPROVAL DATE</th>
                <td>
                    <div *ngIf="consumerApplicationDetail?.dateOfDgmOandM!=null">
                        {{consumerApplicationDetail?.dateOfDgmOandM}}
                    </div>
                    <div *ngIf="consumerApplicationDetail?.dateOfDgmOandM==null">
                        Not Approved By DGM(O&M)
                    </div>
                </td>

            </tr>
            <tr>
                <th rowspan="2" scope="row">Contractor State</th>
                <td rowspan="2">{{paymentView?.CONTRACTOR_STATE}}</td>
                <th scope="row">Work Order Date</th>
                <td>{{ (paymentView?.WORK_ORDER_DATE ? (paymentView?.WORK_ORDER_DATE | date:"dd-MM-yyyy") : "Work Order
                    Not Generated") }}</td>

            </tr>

            <tr>
                <th scope="row">Work Order No.</th>
                <td>{{paymentView?.WORK_ORDER_NO?paymentView?.WORK_ORDER_NO:"Work Order Not Generated"}}</td>

            </tr>


            <tr class="table-secondary">
                <th scope="col" colspan="2">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Location Details</div>
                </th>
                <th scope="col" colspan="2">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;">Payment Details</div>
                </th>

            </tr>
            <tr>
                <th scope="row">Circle (वृत)</th>
                <td> {{paymentView?.NAME_OF_CIRCLE}}</td>
                <th scope="row">Registration Payment Fees</th>
                <td>{{paymentView?.PAYMENT_AMOUNT}}</td>

            </tr>
            <tr>
                <th scope="row">Division (संभाग )</th>
                <td> {{paymentView?.NAME_OF_DIVISION}}</td>
                <th scope="row">Registration Payment Date</th>
                <td>{{paymentView?.DATE_OF_REGISTRATION }}</td>

            </tr>

            <tr>
                <th scope="row">Distribution Center (वितरण केन्द्र)</th>
                <td>{{paymentView?.NAME_OF_DC}}</td>
                <th scope="row">Demand Payment Fees</th>
                <td>{{paymentView?.SUPERVISION_PAYMENT_AMOUNT}}</td>

            </tr>
            <tr>
                <th rowspan="3" scope="row">Work Location Address (कार्य स्थल पता)</th>
                <td rowspan="3">
                    {{consumerApplicationDetail?.workAllocationAddress!=null?consumerApplicationDetail?.workAllocationAddress:consumerApplicationDetail?.address}}
                </td>
                <th scope="row">Demand Payment Date</th>
                <td>{{paymentView?.DATE_OF_SUPERVISION_PAYMENT }}</td>
            </tr>


            <tr>
                <th scope="row">Revise Payment Fees</th>
                <td></td>

            </tr>

            <tr>
                <th scope="row">Revise Payment Date</th>
                <td></td>

            </tr>



            <tr class="table-secondary">
                <th scope="col" colspan="2">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;"> SURVEY Details</div>
                </th>

                <th scope="col" colspan="2">
                    <div align="center" style="font-weight: 900; font-size: 1.5em;"> Geo Location Data</div>
                </th>
            </tr>



            <tr>
                <th scope="row">Surveyor Name</th>
                <td>{{consumerSurveyData?.surveyorName}}</td>
                <th scope="row">Start Latitude (प्रारंभिक अक्षांश)</th>
                <td>{{geoLocationData?.startingLatitude}}</td>
            </tr>

            <tr>
                <th scope="row">Surveyor Mobile No.</th>
                <td>{{consumerSurveyData?.surveyorMobile}}</td>
                <th scope="row">End Latitude (अंतिम अक्षांश)</th>
                <td>{{geoLocationData?.startingLatitude}}</td>
            </tr>

            <tr>
                <th scope="row">Schedule Survey Date</th>
                <td>{{consumerSurveyData?.scheduleSurveyDate | date: 'dd/MM/yyyy'}}</td>
                <th scope="row">Start Longitude (प्रारंभिक देशांतर)</th>
                <td> {{geoLocationData?.startingLongitude}}</td>
            </tr>

            <tr>
                <th scope="row">Schedule Survey Time</th>
                <td>{{consumerSurveyData?.scheduleSurveyTime}}</td>
                <th scope="row">End Longitude (अंतिम देशांतर)</th>
                <td>{{geoLocationData?.startingLongitude}}</td>
            </tr>


            <tr>
                <th scope="row">Survey File</th>
                <td><a href="javascript:void(0)" (click)="getFile(consumerSurveyData?.docSurvey?.uploadId)">
                        <div *ngIf="consumerSurveyData?.docSurvey!=null">Download
                            File</div>
                    </a></td>

                <th scope="row">Start Geolocation Image</th>
                <td> <a *ngIf="geoLocationData?.startDoc?.uploadId != null " href="javascript:void(0)"
                        (click)="getFile(geoLocationData?.startDoc?.uploadId)">
                        Download
                        Image</a></td>
            </tr>

            <tr>
                <th scope="row">Survey status</th>
                <td>
                    <div
                        *ngIf="consumerApplicationDetail?.applicationStatusId<8 || consumerSurveyData==null || consumerSurveyData==undefined ">
                        Survey not done.
                    </div>
                    <div
                        *ngIf=" (consumerApplicationDetail?.applicationStatusId>7 && consumerSurveyData!=null) || (consumerApplicationDetail?.applicationStatusId>7 && consumerSurveyData!=undefined )">
                        Survey done.
                        <br>
                        <div *ngIf="consumerSurveyData?.surveyStatus == 'REJECTED'">
                            <b>REJECTED REASON: </b> <span>{{consumerSurveyData?.rejectedReason}}</span>
                        </div>
                    </div>
                </td>

                <th scope="row">End GeoLocation Image</th>
                <td> <a *ngIf="geoLocationData?.endDoc?.uploadId != null " href="javascript:void(0)"
                        (click)="getFile(geoLocationData?.endDoc?.uploadId)"> Download
                        Image</a></td>
            </tr>


        </table>

        <hr>
        <br>

        <div *ngIf="applicationDocumentData && headingBoolean == false">
  <div class="doc-section-header text-center">
    <h1>Application Documents</h1>
  </div>

  <div class="row g-3 px-3">
    <!-- Each doc block -->
    <div class="col-md-6" *ngIf="applicationDocumentData?.docEstimate">
      <div class="doc-card">
        <span class="doc-label">Doc-Estimate File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocEstimateFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docAdministrative">
      <div class="doc-card">
        <span class="doc-label">Doc-Administrative File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocAdministrativeFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docNoc">
      <div class="doc-card">
        <span class="doc-label">Doc-NOC File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocNocFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docRegistry">
      <div class="doc-card">
        <span class="doc-label">Doc-Registry File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocRegistryFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docReraPermission">
      <div class="doc-card">
        <span class="doc-label">Doc-ReraPermission File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocReraPermissionFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docT$cpPermission">
      <div class="doc-card">
        <span class="doc-label">Doc-T&CP File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocT$cpPermissionFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docEnergyBillFile">
      <div class="doc-card">
        <span class="doc-label">Doc-EnergyBill File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocEnergyBillFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docKhasraKhatoni">
      <div class="doc-card">
        <span class="doc-label">Doc-Khasra-Khatoni File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocKhasraKhatoniFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docGst">
      <div class="doc-card">
        <span class="doc-label">Doc-GST File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocGstFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docGroup">
      <div class="doc-card">
        <span class="doc-label">Doc-Group File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocGroupFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docMap">
      <div class="doc-card">
        <span class="doc-label">Doc-Map File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocMapFile()">Download</button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="applicationDocumentData?.docLoadSheet">
      <div class="doc-card">
        <span class="doc-label">Doc-LoadSheet File</span>
        <button class="btn btn-sm btn-success" (click)="getDownloaddocLoadSheetFile()">Download</button>
      </div>
    </div>
  </div>

  <!-- No files message -->
  <div class="text-danger text-center mt-4" *ngIf="
    applicationDocumentData?.docEstimate == null &&
    applicationDocumentData?.docAdministrative == null &&
    applicationDocumentData?.docNoc == null &&
    applicationDocumentData?.docRegistry == null &&
    applicationDocumentData?.docReraPermission == null &&
    applicationDocumentData?.docT$cpPermission == null &&
    applicationDocumentData?.docKhasraKhatoni == null &&
    applicationDocumentData?.docGst == null &&
    applicationDocumentData?.docGroup == null">
    -------- File Not Available --------
  </div>
</div>

        
        <div>
            <hr />
            <div style="border-bottom: dashed 1px solid black;"></div>


        </div>

    </div>

    <br>
    <div class="text-right">
        <button type="button" class="btn btn-primary" (click)="downloadPdf()">Download</button>
    </div>

</mat-card>