<div class="dsp-footer-block">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12"> -->
                <div class="footer-info">
                    <p>
                        © 2023, All Rights Reserved By MPMKVVCL.
                        Disclaimer | Privacy Policy | Sitemap
                        Developed and Maintained by IT Cell, Madhya Pradesh Madhya Kshetra Vidyut Vitran Co. Ltd.
                        Nishtha
                        Parisar Govindpura, Bhopal.
                    </p>

                    <p class="m-0">
                        <img src="assets\images\whatsapp.png" class="img-fluid whimg" />
                        Whatsapp
                        <span class="pl-2">
                            <a href="whatsapp://send?phone=917552551222" class="dsp-links">
                                07552551222
                            </a>
                        </span>
                    </p>
                </div>
            <!-- </div>
        </div> -->
    </div>
    <script id="gs-sdk" src='//www.buildquickbots.com/botwidget/v3/demo/static/js/sdk.js?v=3'
        key="c0549d95-0b32-4c0e-954f-a7cc590d42ae"></script>
</div>