<mat-card class="my-card custom-scroll-enable-1">
    <mat-toolbar class="label label-warning custom-mat-toolbar">
        <span>{{data.modalTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button class="close-btn" mat-stroked-button (click)="onClose()" tabIndex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>
    <div class="card">

        <div class="card-body">
            <form [formGroup]="dtrListForm">
                <div style="display: flex;">
                    <div>
                        <label class="mr-5">01-Whether the transformer is a sealed unit ?</label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox1"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox1'].errors || formControl['checkBox1'].invalid && (formControl['checkBox1'].dirty || formControl['checkBox1'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox1.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox1}}</div>
                </div>
                <br>


                <div style="display: flex;">
                    <div>
                        <label class="mr-5">02- Whether the D.P. structure is as the provision in the estimate </label>
                    </div>
                    <div *ngIf="drtListArray == null">

                        <mat-radio-group aria-label="Select an option" formControlName="checkBox2"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox2'].errors || formControl['checkBox2'].invalid && (formControl['checkBox2'].dirty || formControl['checkBox2'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox2.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox2}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">03- Whether proper muffng done at base of the D.P. ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox3"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox3'].errors || formControl['checkBox3'].invalid && (formControl['checkBox3'].dirty || formControl['checkBox3'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox3.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox3}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">04- Type of support Rails/ R.S.Joist/ PCC Poles/ H-Beam ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox4"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox4'].errors || formControl['checkBox4'].invalid && (formControl['checkBox4'].dirty || formControl['checkBox4'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox4.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox4}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">05- Whether proper anticlimbing device and Danger Board provided ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox5"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox5'].errors || formControl['checkBox5'].invalid && (formControl['checkBox5'].dirty || formControl['checkBox5'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox5.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox5}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">06- Whether the size of base channels adequate ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox6"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox6'].errors || formControl['checkBox6'].invalid && (formControl['checkBox6'].dirty || formControl['checkBox6'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox6.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox6}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">7- Whether anticlimbing clamps below base channels provided </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox7"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox7'].errors || formControl['checkBox7'].invalid && (formControl['checkBox7'].dirty || formControl['checkBox7'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox7.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox7}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">08- Whether Ground clearance from H.T. Bushing is adequate </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox8"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox8'].errors || formControl['checkBox8'].invalid && (formControl['checkBox8'].dirty || formControl['checkBox8'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox8.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox8}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">09- Whether crimped lugs used at LT bushing is adequate ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox9"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox9'].errors || formControl['checkBox9'].invalid && (formControl['checkBox9'].dirty || formControl['checkBox9'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox9.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox9}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">10- Whether size of main cable to the Distn. Box is adequate ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox10"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox10'].errors || formControl['checkBox10'].invalid && (formControl['checkBox10'].dirty || formControl['checkBox10'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox10.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox10}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">11- Whether Distn.Box is of suitable size ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox11"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox11'].errors || formControl['checkBox11'].invalid && (formControl['checkBox11'].dirty || formControl['checkBox11'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox11.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox11}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">12- Whether switches & fuse in the Distn. Boxes are of proper size </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox12"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox12'].errors || formControl['checkBox12'].invalid && (formControl['checkBox12'].dirty || formControl['checkBox12'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox12.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox12}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">13- Whether Operation of switches & fuse is smooth ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox13"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox13'].errors || formControl['checkBox13'].invalid && (formControl['checkBox13'].dirty || formControl['checkBox13'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox13.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox13}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">14- Whether size of feeder cable is adequate ?</label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox14"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox14'].errors || formControl['checkBox14'].invalid && (formControl['checkBox14'].dirty || formControl['checkBox14'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox14.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox14}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">15 Whether L.T. feeder cable jumping a pole done properly with D loops and
                            applied
                            tough
                            set brushes the compound ?</label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox15"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox15'].errors || formControl['checkBox15'].invalid && (formControl['checkBox15'].dirty || formControl['checkBox15'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox15.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox15}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">16- Whether tape / tough set brushable compound on LT bush bar provide ?
                        </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox16"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox16'].errors || formControl['checkBox16'].invalid && (formControl['checkBox16'].dirty || formControl['checkBox16'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox16.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox16}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">17- Whether two separate erthing for X-mer body provided ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox17"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox17'].errors || formControl['checkBox17'].invalid && (formControl['checkBox17'].dirty || formControl['checkBox17'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox17.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>

                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox17}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">18- Whether two earthing for neutral points provided ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox18"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox18'].errors || formControl['checkBox18'].invalid && (formControl['checkBox18'].dirty || formControl['checkBox18'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox18.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox18}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">19- Whether independent earth for lighting arrestor provided ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox19"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox19'].errors || formControl['checkBox19'].invalid && (formControl['checkBox19'].dirty || formControl['checkBox19'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox19.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox19}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">20- Whether Distn. Box & switches properly ?</label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox20"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox20'].errors || formControl['checkBox20'].invalid && (formControl['checkBox20'].dirty || formControl['checkBox20'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox20.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox20}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">21- Whether earthing used is of adequate size </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox21"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox21'].errors || formControl['checkBox21'].invalid && (formControl['checkBox21'].dirty || formControl['checkBox21'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox21.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox21}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">22- Whether the AB switch handle provide with a lock </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox22"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox22'].errors || formControl['checkBox22'].invalid && (formControl['checkBox22'].dirty || formControl['checkBox22'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox22.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox22}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">23- Whether the operation of AB switch is smooth ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox23"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox23'].errors || formControl['checkBox23'].invalid && (formControl['checkBox23'].dirty || formControl['checkBox23'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox23.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox23}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">24- Whether transformer belting done ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox24"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox24'].errors || formControl['checkBox24'].invalid && (formControl['checkBox24'].dirty || formControl['checkBox24'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox24.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox24}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">25- Whether locks for Oil draining value provided ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox25"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox25'].errors || formControl['checkBox25'].invalid && (formControl['checkBox25'].dirty || formControl['checkBox25'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox25.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox25}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">26- Whether other theft preventing mansures taken such as punching of Bilts
                            etc. ?
                        </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox26"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox26'].errors || formControl['checkBox26'].invalid && (formControl['checkBox26'].dirty || formControl['checkBox26'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox26.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox26}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">27- Whether phase to phase clearance of HT side jumper are adequate ?
                        </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox27"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox27'].errors || formControl['checkBox27'].invalid && (formControl['checkBox27'].dirty || formControl['checkBox27'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox27.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox27}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">28- Whether IR value of X-mer binding & die- electric strength of X-mer Oil
                            are
                            found
                            satisfactory ? ( State rules ) </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox28"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox28'].errors || formControl['checkBox28'].invalid && (formControl['checkBox28'].dirty || formControl['checkBox28'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox28.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox28}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">29- Whether cross bracing provided ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox29"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox29'].errors || formControl['checkBox29'].invalid && (formControl['checkBox29'].dirty || formControl['checkBox29'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox29.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox29}}</div>
                </div>
                <br>

                <div style="display: flex;">
                    <div>
                        <label class="mr-5">30- Any other remarks ? </label>
                    </div>
                    <div *ngIf="drtListArray == null">
                        <mat-radio-group aria-label="Select an option" formControlName="checkBox30"
                            [ngClass]="{ 'is-invalid':submitted &&  formControl['checkBox30'].errors || formControl['checkBox30'].invalid && (formControl['checkBox30'].dirty || formControl['checkBox30'].touched) }">
                            <mat-radio-button value="YES" class="mr-2">yes </mat-radio-button>
                            <mat-radio-button value="NO">no </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && dtrListForm.controls.checkBox30.hasError('required') && !dtrListForm.valid"
                            style="color: crimson;">
                            ! Please Select Yes/No.
                        </div>
                    </div>
                    <div *ngIf="drtListArray != null">{{drtListArray.checkBox30}}</div>
                </div>
                <br>


                <div *ngIf="drtListArray == null">
                    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
                </div>

            </form>

        </div>
    </div>

</mat-card>