.my-card {
    width: 100%;
    margin: 3px auto;
    align-items: center;
    justify-content: center;
}

.half-width {
    width: 33%;
}

.padding {
    padding-left: 23px
}

.margin {
    margin: 10px;
}

.controles-container>* {
    width: 100%;
}

.add-bottom-padding {
    padding-bottom: 10px;
}

table {
    width: 100%;
}

.close-btn {
    position: absolute;
    right: 28px;
    width: 45px;
    height: 40px;
}

.opticity {
    opacity: 0.75;
    font-size: 0.75em;
}

.flagAdminLogin {
    color: black !important;
}

.custom-btn {
    margin-top: 15px !important;
    text-align: center !important;
}