

  <div style="height: 20vh; width: 10vw;"></div>

<div style="color: rgb(31, 31, 103); font-weight: 900; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;font-size: 5em;justify-content: center;align-items: center;text-shadow: 5px 5px rgb(147, 147, 208);">
    WELCOME TO THE DEPOSIT 
    <br>
    <br>
    <br>
    <br>
    <br>SUPERVISION PORTAL


</div>
<br>
<br>
<br>
<div style="text-align: center;height: 30vh;">
    <br>
   
  <span style="color: rgb(76, 76, 121); font-weight: 700; font-size: 2em;">For Consumer Application List</span><span>
    <a mat-list-item routerLink="/consumer/new-application" 
    routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>fiber_new</mat-icon>
    &nbsp;&nbsp;&nbsp;<span style="font-size: 2em;">click here </span>
  </a>
  </span>
</div>