<mat-card class="my-card">
    <mat-toolbar>
        <span>{{data.modalTitle}}</span>
        <span class="fill-remaining-space"></span>
        <button class="close-btn" mat-stroked-button (click)="onClose()" tabIndex="-1">
              <mat-icon>clear</mat-icon>
          </button>
    </mat-toolbar>
    <form [formGroup]="feederCreationFg" (ngSubmit)="onSubmit()" autocomplete="off">

        <mat-form-field class="half-width">
            <mat-label>Select region</mat-label>
            <mat-select name="region" formControlName="regionId" (selectionChange)="onChangeCicle($event.value)">
                <mat-option *ngFor="let regiondata of regionData" [value]="regiondata.regionId">{{regiondata.region}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="feederCreationFg.controls.regionId.hasError('required')">
                Please Select region
            </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width padding">
            <mat-label>Select circle</mat-label>
            <mat-select name="circle" formControlName="circleId" (selectionChange)="onChangeDivision($event.value)">
                <mat-option *ngFor="let circle of circleData" [value]="circle.circleId">{{circle.circle}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="feederCreationFg.controls.circleId.hasError('required')">
                Please Select circle
            </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
            <mat-label>Select Division</mat-label>
            <mat-select name="divisionId" formControlName="divisionId" (selectionChange)="onChangeSubDivision($event.value)">
                <mat-option value="">Select Division</mat-option>
                <mat-option *ngFor="let divisiondata of divisionData" [value]="divisiondata.divisionId">{{divisiondata.division}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="feederCreationFg.controls.divisionId.hasError('required')">
                Please Select Division
            </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width padding">
            <mat-label>Select Sub Division</mat-label>
            <mat-select name="subDivisionId" formControlName="subDivisionId" (selectionChange)="onChangeDc($event.value)">
                <mat-option value="">Select Sub Division</mat-option>
                <mat-option *ngFor="let subDivisiondata of subDivisionData" [value]="subDivisiondata.subDivisionId">{{subDivisiondata.subDivision}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="feederCreationFg.controls.subDivisionId.hasError('required')">
                Please Select Sub Division
            </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width ">
            <mat-label>Select DC</mat-label>
            <mat-select name="dcId" formControlName="dcId" (selectionChange)="onChangeSubStation($event.value)">
                <mat-option value="">Select DC</mat-option>
                <mat-option *ngFor="let dcdata of dcData" [value]="dcdata.dcId">{{dcdata.dcCode}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="feederCreationFg.controls.dcId.hasError('required')">
                Please Select DC
            </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width padding">
            <mat-label>Select SubStation</mat-label>
            <mat-select name="substationId" formControlName="substationId">
                <mat-option value="">Select DC</mat-option>
                <mat-option *ngFor="let subStationdata of subStationData" [value]="subStationdata.subStationId">{{subStationdata.subStationName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="feederCreationFg.controls.substationId.hasError('required')">
                Please Select SubStation
            </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width ">
            <mat-label>Feeder Name</mat-label>
            <input matInput placeholder="Feeder Name" name="feederName" formControlName="feederName">
            <mat-error *ngIf="feederCreationFg.controls.feederName.hasError('required')">
                feederName name is required
            </mat-error>
            <mat-error *ngIf="feederCreationFg.controls.feederName.hasError('uniqueValue')">
                feederName name already exists
            </mat-error>

        </mat-form-field>
        <mat-form-field class="half-width padding">
            <mat-label>Feeder Code</mat-label>
            <input matInput placeholder="Feeder Code" name="feederCode" formControlName="feederCode">
            <mat-error *ngIf="feederCreationFg.controls.feederCode.hasError('required')">
                FeederCode code name is required
            </mat-error>
            <mat-error *ngIf="feederCreationFg.controls.feederCode.hasError('pattern')">
                Please enter FeederCode in valid format
            </mat-error>
            <mat-error *ngIf="feederCreationFg.controls.feederCode.hasError('uniqueValue')">
                FeederCode already exists
            </mat-error>
        </mat-form-field>

        <div align="center">
            <button mat-raised-button color="primary" [disabled]="!feederCreationFg.valid">Save</button>
        </div>
    </form>
</mat-card>