<mat-card>
    <div style="display: flex; justify-content: space-between;">
        <div></div>
        <div>
            <button class="close-btn" mat-stroked-button (click)="onClose()" tabIndex="-1">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <mat-card-header>
        <h1> Application-Rejection Proposal By GM</h1>


    </mat-card-header>

    <br>
    <mat-card-content style="width: 80%; margin: auto;">


        <table class="table">
            <tr>

                <td>
                    <b> Consumer-Application-No :</b><span
                        class="padding">{{consumerApplicationDetails?.consumerApplicationNo}}</span>
                </td>

                <td>
                    <b>Name :</b><span class="padding">{{consumerApplicationDetails?.consumerName}}</span>
                </td>

                <td>
                    <b>Address :</b><span class="padding">{{consumerApplicationDetails?.address}}</span>
                </td>


            </tr>

            <tr>
                <td>
                    <b>Consumer Application Id :</b><span
                        class="padding">{{consumerApplicationDetails?.consumerApplicationId}}</span>
                </td>
                <td>
                    <b>Application Status :</b><span
                        class="padding">{{consumerApplicationDetails?.applicationStatus?.applicationStatusName}}</span>
                </td>
                <td>
                    <b>Father's Name :</b><span class="padding">{{consumerApplicationDetails?.guardianName}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <b>Nature of Work Name :</b><span
                        class="padding">{{consumerApplicationDetails?.natureOfWorkType.natureOfWorkName}}</span>
                </td>
                <td>
                    <b>Pincode :</b><span class="padding">{{consumerApplicationDetails?.pincode}}</span>
                </td>
                <td>
                    <b>SchemeType :</b><span
                        class="padding">{{consumerApplicationDetails?.schemeType?.schemeTypeName}}</span>
                </td>

            </tr>

            <tr>
                <td>
                    <b>District :</b><span class="padding">{{consumerApplicationDetails?.district?.districtName}}</span>
                </td>

                <td>
                    <b>DC :</b><span class="padding">{{consumerApplicationDetails?.distributionCenter?.dcName}}</span>
                </td>

                <td>
                    <b> Rejection Proposal File:</b><span class="padding" ><button  type="button" style="cursor: pointer;" class="btn btn-success" (click)="downloadFile()">Download</button></span>
                </td>
            </tr>

            <tr>
                <td>
                    <b>GST Number :</b><span class="padding">{{consumerApplicationDetails.gstNumber}}</span>
                </td>
            </tr>

            
        </table>

        <br>

        <h2 style="color: rgb(42, 42, 141);">निरस्तीकरण प्रस्ताव</h2>
        <b>(१) Accepted ( इस विकल्प का चुनाव करने पर आवेदन निरस्त हो जाएगा)</b><br>
        <b>(२) Rejected (इस विकल्प का चुनाव करने पर आवेदन JE/DGM O&M के स्तर पर चले जायेगा, और आवेदन निरस्त नहीं होगा।)</b>

       
        <br>
        <br>
        

        <div>
            <form class="example-form" [formGroup]="exForm">

                <div class="row">
                    <div class="col-md-12">
                        <mat-radio-group aria-label="DC Accepted ? " formControlName="acceptRejectField"
                            (change)=onGMAction($event)>
                            <!-- <label>Application Accept Or Reject ? &nbsp;&nbsp;&nbsp;&nbsp;</label> -->
                            
                            <mat-radio-button value="true">Accepted</mat-radio-button><span class="mx-2"></span>
                            <mat-radio-button value="false">Rejected &nbsp;&nbsp;</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div style="height:10px;"></div>
                </div>
                <br>

                <mat-form-field  class="example-full-width" style="width: 50vw;">
                    <mat-label>remark</mat-label>
                    <textarea matInput placeholder="remarks" formControlName="remark"></textarea>
                </mat-form-field>

                <div>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                </div>
            </form>
        </div>


    </mat-card-content>
</mat-card>