<!-- <html> -->

<!-- <body style="margin-top: 10px;"> -->
<!--    -->
<div class="wrapper fadeInDown" *ngIf="showForm">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <br>
            <h4 align="center">
                <mat-label>Forgot Password</mat-label>
            </h4>
        </div>
        <form class="my-form" [formGroup]="forgotPasswordForm" autocomplete="off">
            <mat-card class="my-card">
                <mat-card-content>
                    <!--FORM FIELDS HERE-->
                    <div *ngIf="!enableotpfield">
                        <mat-form-field class="full-width">
                            <!-- <mat-icon matSuffix>phone_iphone</mat-icon> -->
                            <mat-icon matSuffix>supervised_user_circle</mat-icon>
                            <mat-label>Employee id</mat-label>
                            <input matInput placeholder="Enter your UserId" name="userId" type="number"
                                formControlName="userId" (change)="enableOtpButton()">
                            <mat-error *ngIf="forgotPasswordForm.controls.userId.hasError('required')">
                                userId is required
                            </mat-error>
                            <!-- <mat-error *ngIf="forgotPasswordForm.controls.mobileNo.hasError('mobPattern')">
                            Please enter a valid Mobile number
                        </mat-error> -->
                            <mat-error *ngIf="invalidUser">
                                userId does not exist.
                            </mat-error>

                        </mat-form-field>


                    </div>

                    <div *ngIf="enableotpfield">
                        <mat-form-field class="full-width">
                            <mat-label>OTP</mat-label>
                            <input matInput placeholder="OTP" name="otp" formControlName="otp">
                            <mat-error *ngIf="forgotPasswordForm.controls.otp.hasError('required')">
                                OTP is required
                            </mat-error>
                        </mat-form-field>

                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <!--REGISTER BUTTON HERE-->
                    <button mat-raised-button type="button" color="primary" *ngIf="!enableotpfield" (click)="getOtp2()"
                        [disabled]="enableOtpbutton">Get OTP</button>
                    <button mat-raised-button color="primary" type="button" *ngIf="enableotpfield" (click)="onSubmit2()"
                        [disabled]="!forgotPasswordForm.valid">Submit</button>
                </mat-card-actions>
            </mat-card>
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">Already have a password? <a routerLink="/user/login" class="underlineHover">Login</a>
        </div>

    </div>
</div>
<!-- </body> -->

<!-- </html> -->